---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Plombier Nice">
    <style>
        .about-section {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
        </style>
        
        <div class="about-section">
            <h1>À Propos de Nous</h1>
            <p>Nous sommes une entreprise familiale de plomberie, fournissant des services de qualité à Nice depuis 2008. Notre équipe de professionnels expérimentés est dédiée à offrir des solutions efficaces et durables.</p>
        </div>
        
</Layout>
