---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mentions Legales | Plombier Nice">
  <main>
      <h1>Mentions Légales</h1>
      <p>Ce site est édité par Services de Plomberie de la Ville de Nice.</p>
      <p>Adresse : 22 Rue de la Liberté, 06000 Nice, France</p>
      <p>Téléphone : 04 93 62 53 00</p>
      <p>Email : contact@plomberienice.fr</p>
      <p>SIRET : 482 937 610 00021</p>
      <p>Ce site est hébergé par NiceWebHost, 10 Boulevard du Mont Boron, 06300 Nice, France.</p>
      <p>Directeur de la publication : Jean Dupont</p>
  </main>
</Layout>

<style>
  .container {
    text-align: center;
    padding-top: 50px;
    margin: auto;
    color: azure;
  }
</style>
