---
// Composant Nav
const pathname = Astro.url.pathname.split('/').slice(-1)[0];
---
<style>
    .nav {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
        background: #444;
    }
    .nav a {
        font-weight: 500;;
        color: #fff;
        text-decoration: none;
    }
    .nav a.active {
        color: wheat; 
    }
    </style>
    
    <div class="nav">
        <a href="/" class={pathname  === '' ? 'active' : ''}>Home</a>
        <a href="/contact" class={pathname === 'contact' ? 'active' : ''}>Contact</a>
        <a href="/mentions-legales" class={pathname === 'mentions-legales' ? 'active' : ''}>Mentions Légales</a>
        <a href="/a-propos" class={pathname === 'a-propos' ? 'active' : ''}>À Propos</a>
    </div>
    